<!DOCTYPE html>
	<html>

	<head>
	    <title>My Angular App!</title>
	    
	    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
	 
		  <%= stylesheet_link_tag    'application', media: 'all' %>
		  <%= javascript_include_tag 'application' %>
		  <%= csrf_meta_tags %>
	</head>

	<body ng-app="flapperNews" >
			
			<!-- <p class="notice"> <%= flash[:alert] %></p>
			<p class="alert"><%= alert %></p> -->
			<div class="col-md-6 col-md-offset-3">
		    <div ng-include="'nav/_nav.html'"></div>
		    <ui-view></ui-view>
		  </div>	    
	    
	</body>

	</html>
